build:
  type: text
  content: |
    #!/bin/sh

    export IMAGE_TAG=$ROOST_NAMESPACE
    export PATH=$PATH:/usr/bin:/usr/local/bin
    make build-ballot
deploy:
  type: text
  content: >-
    #/bin/sh

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},registry=zbio,namespace=${ROOST_NAMESPACE}"


    echo "helm install ui-${ROOST_ENV_ID} helm-vote -n $ROOST_NAMESPACE --create-namespace ${HELM_OPTS}"


    helm install ui-${ROOST_ENV_ID} helm-vote -n $ROOST_NAMESPACE --create-namespace ${HELM_OPTS}
test:
  - name: ballot
    configType: artillery
    configPath: ballot/test/test.yaml
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Bhavya Shah
lastUpdatedOn: 2022-08-04T05:11:17.505Z
