app_dependencies: '[object Object]'
app_deploy: '[object Object]'
app_test: []
app_uninstall: '[object Object]'
build:
  type: text
  content: |-
    #!/bin/sh
    bhavya
deploy:
  type: text
  content: '#!/bin/sh'
test: []
uninstall:
  type: text
  content: '#!/bin/sh'
lastUpdatedBy: Bhhavya Sureka
lastUpdatedOn: 2022-11-15T09:34:15.852Z
