app_dependencies:
  type: None
  content: ''
app_deploy:
  type: flux
  content: ballot/ballot.yaml
app_test: []
app_uninstall:
  type: None
  content: ''
build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: text
  content: |+
    #/bin/sh
    &lt;&lt;&#39;###&#39;
    Sample Deploy Instructions

    HELM_OPTS=&quot;--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}&quot;

    helm install &lt;helm-folder&gt; -n &lt;ns&gt; $HELM_OPTS

    kubectl apply -f &lt;file&gt;.yaml
    ###

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Akshit Mathur
lastUpdatedOn: 2022-11-09T05:48:05.002Z
