app_dependencies:
  type: None
  content: ''
app_deploy:
  type: flux
  content:
    source_repo_branch: repoBranch
    source_repo_url: repoUrl
    dir_path: ballot
app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

build:
  type: None
  content: ''
deploy:
  type: None
  content: ''
test: []
uninstall:
  type: None
  content: ''
TF_Content: |-
  #!/bin/sh

  terraform init
  terraform apply --auto-approve
TF_Git_path: ''
TF_Uninstall: |-
  #!/bin/sh

  terraform destroy
app_docker_compose: ''
dockerCompose: ''
lastUpdatedBy: Bhavya Shah
lastUpdatedOn: 2023-02-02T10:42:39.190Z
